<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../template/head'); %>
    <!-- Custom Css -->
    <link rel="stylesheet" type="text/css" href="/public/css/create-account.css">
</head>

<body>
    <nav class="navbar navbar-static-top navbar-dark bg-inverse">
        <a class="navbar-brand" href="#">OJT Evaluator</a>
        <ul class="nav navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/account/welcome-mentee">Home
                    <span class="sr-only">(current)</span>
                </a>
            </li>
        </ul>
        <ul class="nav navbar-nav pull-right">
            <li class="nav-item">
                <a class="nav-link " href="/account/logout">Logout</a>
            </li>
        </ul>
    </nav>
    <div class="container">
        <div class="row main">
            <div class="panel-heading">
                <div class="panel-title text-center">
                    <h1 class="title">Evaluation Page</h1>
                    <hr/>
                </div>
            </div>
            <div class="main-login main-center panel-body">
                <table class = "table table-striped table-bordered table-hover" >
                    <tr>
                        <td>Phase name: </td>
                        <td><%= phaseName %></td>
                    </tr>
                    <tr>
                        <td>Start date: </td>
                        <td><%= startDate %></td>
                    </tr>
                    <tr>
                        <td>End date: </td>
                        <td><%= endDate %></td>
                    </tr>
                </table>
                <table class = "table table-striped table-bordered table-hover" >
                    <tr>
                        <td>Evaluated by: </td>
                        <td><%= mentorName %></td>
                    </tr>
                    <tr>
                        <td>Status: </td>
                        <% if (status == '1') { %>
                            <td>Delayed </td>
                        <% } else if (status == '2') { %>
                            <td>On schedule </td>
                        <% } else if (status == '3') { %>
                            <td>In advance </td>
                        <% } %>
                    </tr>
                </table>
                <div class="form-group ">
                    <a href="/account/welcome-mentee"
                       type="button"
                       id="btnBack"
                       class="btn btn-primary btn-lg btn-block login-button">Back
                    </a>
                </div>
            </div>
            <hr>
            <%- include('../template/footer'); %>
        </div>
    </div>
</body>

</html>